<%= form_with model: task, url: url do |form| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>
      <ul>
        <% task.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= form.text_field :title, placeholder: "Title"%>
  </div>
  <div class="field">
    <%= form.text_area :body, placeholder: "Notes"%>
  </div>
  <div class="field">
    <i class="fa-solid fa-calendar-minus"></i>
    <%= form.date_select :date %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
