<div class="modal-task">
  <div class="overlay">
    <div class="container">
      <div class="title">
        <div class="flex">
          <div><%= @task.title %></div>
          <div class="names">
            <% if @today.include?(@task) %>
              <div class="today">Today's Task</div>
            <% elsif @scheduled.include?(@task) %>
              <div class="scheduled">Scheduled Task</div>
            <% else %>
              <div class="overdue">Overdue Task</div>
            <% end %>
          </div>
        </div>
        <%= link_to category_tasks_path(@category) do %>
          <i class="fa-solid fa-circle-xmark"></i>
        <% end %>
      </div>
      <div class="notice"><%= notice %></div>
      <div class="main">
        
          <div class="textarea">  <%= @task.body %>
        </div>
        <div class="date">  <i class="fa-solid fa-calendar-day"></i><%= @task.date.strftime("%b %m, %Y") %>
        </div>
        <%= link_to edit_category_task_path(@category, @task) do %>
        <div class="edit-btn">Edit</div>
        <% end %>
      </div>
    </div>
  </div>
</div>
